td img{
	height: 80px;
}

#btn_bar {
  outline: none;
  width: inherit;
  text-align: center;
  display: inline-block;
  border: none;
  font: 500 16px/1 "Poppins", sans-serif;
  padding: 20px;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background: var(--primaryColor);
  color: var(--backgroundColor);
  position: relative;
  top: 5px;
  transition: 0.2s ease;
}

#btn_bar:hover {
  top: 5px;
}

.navbar-header  button{
  width: initial;
  top: 30px;
}

.navbar-header button:active{
  width: initial;
  top: 30px;
}

.navbar-header button:hover{
  width: initial;
  top: 30px;
}

.navbar-collapse{
  text-align: center;
}

.container-b h1{
  color: white;
}

textarea{
  color: white;
}

select{
  color: white;
}

.container_list {
    display: grid;
    padding: 50px;
}

#link_doc{
  color:deeppink;
  text-decoration-line: initial;
  text-decoration-style: initial;
}

b{
  color: deeppink;
}

.syntax_col_word_key{
  color: deeppink;
}

.syntax_col_table{
  color: pink;
}

#sql{
  overflow: auto;
}

.button {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
