
.counter {
    padding: 8px 10px;
    margin-bottom: 3px;
    border-bottom: 1px solid #b7b7b7;
    width: 260px;
}

.counter:first-child {
    border-top: 1px solid #b7b7b7;
}

label {
    display: inline-block;
    width: 120px;
    margin-right: 10px;
}


/*NUMBER INPUTS */

.input-number {
    width: 40px;
    vertical-align: top;
    text-align: center;
    outline: none;
    font-size: 100%;
    color: black;
    font-weight: bold;
}

.input-number,
.input-number-decrement,
.input-number-increment {
    border: none;
    height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input-number-decrement,
.input-number-increment {
    font-size: 100%;
    display: inline-block;
    width: 30px;
    line-height: 26px;
    background: #cccaca;
    color: #444;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.input-number-decrement:active,
.input-number-increment:active {
    background: #ddd;
}

.input-number-decrement {
    border-right: none;
    border-radius: 4px 0 0 4px;
    margin-right: -4px;
    vertical-align: top;
    background: var(--accent3Shade1);
    color: white;
}

.input-number-increment {
    border-left: none;
    border-radius: 0 4px 4px 0;
    margin-left: -4px;
    vertical-align: top;
    background: var(--accent2Shade2);
    color: white;
}

.container_formulaire{
  margin-top: 100px;
}
    </style>

    <style type="text/css">
      input {
    border: 1px solid #666;
    padding: 4px;
    font-size: 1em;
    background-color: white;
    width: 16em;
  font-family: Consolas, monospace;
}

input.not-supported {
    border-color: red;
    background-color: rgba(252, 0, 0, 0.25);
}

.result {
    color: #666;
    font-style: italic;
    margin-left: 1em;
    padding: 4px;
    font-size: .8em;
    background-color: #efefef;
}

.result:before {
    content: 'value: ';
    font-weight: bold;
}